.profile_section{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}
.profile_img{
    width: 50px;
    border-radius: 50%;
}
.profile_text h3{
    font-size: 15px;
    font-weight: 600;
}
.profile_text span{
    font-size: 14px;
}