.card_one{
    background: #fff;
    box-shadow: 0 20px 100px rgb(34 34 34 / 15%);
    border: none!important;
    height:100%;
    border-radius: 16px;
    padding-bottom: 10px;
}
.card_two{
    border-radius: 16px;
}
.image{
    width: 100%;
    height: 110px;
}
.image-two{
    width: 80px;
    height: 80px;
    margin: 0px 10px;
}
.delete-button{
    color: red;
}
.description{
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .card_one{
        width: 300px !important;
        margin-left: 160px;
    }
    .card_two{
        width: 300px !important;
        margin-left: 160px;
    }
}